{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
<div class="dice">
    <h1>
        <span class="first">D</span>
        <span class="second">i</span>
        <span class="third">c</span>
        <span class="fourth">e</span>
    </h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <table>
            <tr>
                <td>{{ form.level.label}}</td>
                <td>{{ form.level }}</td>
            </tr>
            <tr>
                <td>{{ form.range.label }}</td>
                <td>{{ form.range }}</td>
            </tr>
        </table>
        {{ form.submit }}
    </form>
    <br><button class="button" onclick="location.href='{{ delloc }}'" type="button">Delete last entry</button>
    {% for item in all_dice %}
    <h1>Dice: {{ item.level }}d{{ item.range }}
        <button class="button" onclick="location.href='{{ delloc }}'" type="button">Roll</button>
    {% endfor %}
</div>
<div class="welcome">
    <h1>{{welcomeMessage}}
        <button class="button" onclick="location.href='{{ outloc }}'" type="button">Log out</button>
</div>
<div class="history">
    <h1>
        <span class="first">H</span>
        <span class="second">i</span>
        <span class="third">s</span>
        <span class="fourth">t</span>
        <span class="fifth">o</span>
        <span class="sixth">r</span>
        <span class="seventh">y</span>
    </h1>
</div>

{% endblock %}
