{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
<div class="dice">
    <button class="button" onclick="location.href='{{ reset }}'" type="button">Reset</button>
    <h1>Dice</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <table>
            <tr>
                <td>{{ form.level.label}}</td>
                <td>{{ form.level }}</td>
            </tr>
            <tr>
                <td>{{ form.range.label }}</td>
                <td>{{ form.range }}</td>
            </tr>
        </table>
        {{ form.submit }}
    </form>
    {% for item in all_dice %}
    <h1>ID: {{item.id}} Level: {{ item.level }} Range: {{ item.range }}
        <button class="button" onclick="location.href='{{ rollTheDice }}'" type="button">Roll</button>
        {% endfor %}
</div>
<div class="history"><h1>History</h1></div>

{% endblock %}
