{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
<div class="denied">
<h1>
    <span class="first">A</span>
    <span class="second">c</span>
    <span class="third">c</span>
    <span class="fourth">e</span>
    <span class="fifth">s</span>
    <span class="sixth">s</span>
    <span class="seventh">D</span>
    <span class="eigth">e</span>
    <span class="ninth">n</span>
    <span class="tenth">i</span>
    <span class="eleventh">e</span>
    <span class="twelth">d</span>
    <span class="end">!</span>
</h1>
<div>
    <form action="{{ url_for('home') }}">
        <button class="button" type="submit">Home</button>
    </form>
</div>
</div>
{% endblock %}