{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
<div class="home">

<h1>
    <span class="first">T</span>
    <span class="second">T</span>
    <span class="third">R</span>
    <span class="fourth">P</span>
    <span class="fifth">G</span>
    <span class="hyphen">-</span>
    <span class="sixth">D</span>
    <span class="seventh">i</span>
    <span class="eigth">c</span>
    <span class="nineth">e</span>
</h1>
<div class="left_button" id="button1">
    <form action="{{ url_for('register') }}">
    <button class="button" type="submit">Register</button>
</form>
</div>
<div class="right_button" id="button2">
    <form action="{{ url_for('login') }}">
    <button class="button" type="submit">Log in</button>
</form>
</div>
</div>
{% endblock %}