{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
<div class="home">

<h1>
    <span class="first">T</span>
    <span class="second">T</span>
    <span class="third">R</span>
    <span class="fourth">P</span>
    <span class="fifth">G</span>
    <span class="hyphen">-</span>
    <span class="sixth">D</span>
    <span class="seventh">i</span>
    <span class="eigth">c</span>
    <span class="nineth">e</span>
</h1>

<br><button class="button" onclick="location.href='{{ regloc }}'" type="button">Register</button>
<button class="button" onclick="location.href='{{ logloc }}'" type="button">Log in</button>
</div>
{% endblock %}