{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
<div class="form">
    <h1>
        <span class="first">L</span>
        <span class="second">o</span>
        <span class="third">g</span>
        <span class="fourth">i</span>
        <span class="fifth">n</span>
    </h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <table>
            <tr>
                <td>{{ form.username.label }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{form.password.label}}</td>
                <td>{{form.password}}</td>
            </tr>
        </table>
        {{ message }}
        {{ form.submit }}
    </form>
    
    <div class="left_button">
        <form action="{{ url_for('home') }}">
            <button class="button" type="submit">Home</button>
        </form>
    </div>
    <div class="right_button">
        <form action="{{ url_for('register') }}">
            <button class="button" type="submit">Register</button>
        </form>
    </div>
</div>
{% endblock %}