{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}

<div class="form">
    <h1>Registration</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <table>
            <tr>
                <td>{{form.username.label}}</td>
                <td>{{form.username }}</td>
            </tr>
            <tr>
                <td>{{form.email.label}}</td>
                <td>{{form.email }}</td>
            </tr>
            <tr>
                <td>{{form.password.label}}</td>
                <td>{{form.password }}</td>
            </tr>
            <tr>
                <td>{{form.first_name.label}}</td>
                <td>{{form.first_name }}</td>
            </tr>
            <tr>
            <td>{{form.last_name.label}}</td>
            <td>{{form.last_name }}</td>
            </tr>
        </table>
        {{ message }}
        {{ form.submit }}
        
    </form>
    <div class="left_button" id="button1">
        <form action="{{ url_for('home') }}">
        <button class="button" type="submit">Home</button>
    </form>
</div>
<div class="right_button" id="button2">
    <form action="{{ url_for('login') }}">
        <button class="button" type="submit">Log in</button>
    </form>
</div>
{% endblock %}